modules = ["nodejs-24", "postgresql-16"]

[nix]
channel = "stable-25_05"

[userenv]

[userenv.development]
DEV_TENANT_SLUG = "swcu"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start SWCU website"

[[workflows.workflow]]
name = "Start SWCU website"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 3000

[workflows.workflow.metadata]
outputType = "webview"

[[ports]]
localPort = 3000
externalPort = 80

[[ports]]
localPort = 3001
externalPort = 3001
